.sketchpad {
  display: flex;
  width: 960px;
  border: 1px solid black;
}

.pixel {
  background-color: black;
  opacity: 0;
  flex: 1;
  aspect-ratio: 1 / 1;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset-button {
  margin-top: 12px;
  margin-bottom: 24px;
}
